<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>
    <h1>Site under maintenance</h1>
  <p>Site is being updated. We will back soon.</p>
  {{> footer }}
</body>

</html>